/* based on carbonfox theme */
:root {
  --cc-bg: #161616;

  --noti-bg: 37, 37, 37;
  --noti-bg-alpha: 1;
  --noti-bg-darker: #0c0c0c;
  --noti-bg-hover: #2a2a2a;
  --noti-bg-focus: #2a2a2a;
  --noti-close-bg: #282828;
  --noti-close-bg-hover: #3a3a3a;

  --noti-border-color: #c9b896;
  --border: 1px solid var(--noti-border-color);
  --border-radius: 10px;

  --text-color: #f2f4f8;
  --text-color-disabled: #6e6f70;
  --bg-selected: #78a9ff;

  --notification-shadow: none;
}

.control-center {
  background: var(--cc-bg);
  border: var(--border);
  border-radius: var(--border-radius);
}
